@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'League Spartan', sans-serif;
  }
}

@layer components {
  /* component style setup */
}

h1,
h2 {
  font-family: 'Antonio', sans-serif;
}

h3,
h4 {
  font-family: 'League Spartan', sans-serif;
  font-weight: bold;
}

body {
  font-family: 'League Spartan', sans-serif;
}

a,
button {
  font-weight: bold;
  font-family: 'League Spartan', sans-serif;
}

.custom-border-color {
  border-color: rgba(255, 255, 255, 0.1);
}

.nav-item:last-child a {
  border-bottom: 0px;
}

.custom-height {
  height: calc(100vh - 68px);
}

.custom-hamburger input:checked ~ svg {
  opacity: 0.3;
}
